body {
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	margin: 0;
}
.welcomeTitle {
	font-size: 40px;
	text-align: center;
	padding-top: 60px;
}
.createAListingBox {
	margin-top: 35px;
	height: 270px;
	width: 350px;
	margin-right: auto;
	margin-left: auto;
	box-shadow: rgba(0, 0, 0, 0.411) 0px 0px 4px;
	border-radius: 0%;
}
.createAListingBoxTitle {
	text-align: center;
	font-size: 25px;
	padding-top: 30px;
}
.createAListingBoxMain {
	text-align: center;
	font-size: 17px;
	padding-top: 20px;
	padding-right: 10px;
	padding-left: 10px;
}
.createAListingButton {
	margin-top: 46.5px;
	text-align: center;
	border-top: 1px solid rgba(128, 128, 128, 0.445);
	height: 65px;
	width: 350px;
}
.createAListingButton:hover {
	background-color: rgba(128, 128, 128, 0.445);
	cursor: pointer;
	transition: 0.5s;
}
.createAListingButtonText {
	margin-top: 22px;
}
.signOutButton {
	width: 250px;
	height: 50px;
	background-color: ;
	box-shadow: rgba(0, 0, 0, 0.411) 0px 0px 4px;
	margin-left: 45px;
	margin-top: 50px;
}
.signOutButtonText {
	text-align: center;
	padding-top: 15px;
}
.signOutButton:hover {
	background-color: rgba(128, 128, 128, 0.445);
	cursor: pointer;
	transition: 0.5s;
}

.changePasswordButton {
	width: 250px;
	height: 50px;
	background-color: ;
	box-shadow: rgba(0, 0, 0, 0.411) 0px 0px 4px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 50px;
}
.changePasswordText {
	text-align: center;
	padding-top: 15px;
}
.changePasswordButton:hover {
	background-color: rgba(128, 128, 128, 0.445);
	cursor: pointer;
	transition: 0.5s;
}
.seeListingsButton {
	width: 250px;
	height: 50px;
	background-color: ;
	box-shadow: rgba(0, 0, 0, 0.411) 0px 0px 4px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 50px;
}
.seeListingsButtonText {
	text-align: center;
	padding-top: 15px;
}
.seeListingsButton:hover {
	background-color: rgba(128, 128, 128, 0.445);
	cursor: pointer;
	transition: 0.5s;
}
