.footerText {
  background-color: white;

  text-align: center;

  color: rgb(149, 149, 149);
}

#footer {
  width: 100%;
  position: fixed;
  bottom: 0;

  background-color: white;

  padding-bottom: 10px;
}
