.green-text {
  color: yellowgreen;
}

.blue-text {
  color: #0099ff;
}

.grey-text {
  color: grey;
}
.dark-grey-text {
  color: #333333;
}

.thick-text {
  font-weight: 450;
}

.thin-text {
  font-weight: 150;
}

.main-header-text {
  text-align: right;
  font-size: 60px;
}

.main-subheading-text {
  font-size: 25px;
  font-weight: 300;
}

.header {
  font-size: 40px;
  font-weight: 500;
  color: grey;
}

/* Because they are white and we need them to be grey/black */
.carousel-control-next,
.carousel-control-prev /*, .carousel-indicators */ {
  filter: invert(90%);
}
.carousel-control-next.disabled-button,
.carousel-control-prev.disabled-button {
  filter: invert(10%);
}

.multiple-item-carousel > .carousel-inner {
  width: 70%;
  margin: auto;
}

.category-carousel {
  margin-bottom: 10px;
}

.large-margin {
  margin: 20px;
}

.category-box {
  width: 80%;
}

.category-box.existing-category {
  height: 90px;
  color: green !important;
  text-decoration: none !important;
}

.category-box.existing-category:hover {
  cursor: pointer;
  color: rgb(9, 110, 9) !important;
  text-decoration: underline !important;
}

.category-carousel > .carousel-control-next > .carousel-control-next-icon {
  display: block;
  margin-right: auto;
}

.category-carousel > .carousel-control-prev > .carousel-control-prev-icon {
  display: block;
  margin-left: auto;
}

.listing-box {
  position: relative;
  width: 95%;
  height: 100%;
}

.listing-title {
  height: 15%;
}

.listing-desc {
  height: 27%;
}

.large-margin-top {
  margin-top: 20vh !important;
}

.category-container {
  height: 120px;
}

.listing-container {
  height: 460px;
}

.see-more-listing-box-body {
  padding-top: 150px;
}
