.green-text {
  color: yellowgreen;
}

.blue-text {
  color: #0099ff;
}

.grey-text {
  color: grey;
}
.dark-grey-text {
  color: #333333;
}

.thick-text {
  font-weight: 450;
}

.thin-text {
  font-weight: 150;
}

.main-header-text {
  text-align: right;
  font-size: 60px;
}

.main-subheading-text {
  font-size: 25px;
  font-weight: 300;
}

.header {
  font-size: 40px;
  font-weight: 500;
  color: grey;
}

/* Because they are white and we need them to be grey/black */
.carousel-control-next,
.carousel-control-prev /*, .carousel-indicators */ {
  filter: invert(90%);
  /* to hide the scrolling */
}

.carousel-control-next.disabled-button,
.carousel-control-prev.disabled-button {
  opacity: 0.1;
  cursor: default;
}
.disabled-button:hover,
.disabled-button:focus {
  opacity: 0.1 !important;
  cursor: default;
}

.multiple-item-carousel > .carousel-inner {
  width: 70%;
  margin: auto;
}

.category-carousel {
  margin-bottom: 10px;
  width: 80%;
}

.large-margin {
  margin: 20px;
}

.category-box {
  width: 80%;
}

.category-box.existing-category {
  color: green !important;
  text-decoration: none !important;
}

.category-box.existing-category:hover {
  cursor: pointer;
  color: rgb(9, 110, 9) !important;
  text-decoration: underline !important;
}

.carousel-control-next > .carousel-control-next-icon {
  display: block;
  margin-right: auto;
}

.carousel-control-prev > .carousel-control-prev-icon {
  display: block;
  margin-left: auto;
}

.listing-box {
  width: 95%;
  height: 100%;
  border: none !important;
  box-shadow: 0px 0px 3px 2px rgba(119, 119, 119, 0.185);
}

.listing-title {
  height: 30%;
  margin: 0;
}

.listing-desc {
  padding-top: 0;
  height: 40%;
}

.large-margin-top {
  margin-top: 20vh !important;
}

.category-container {
  height: 120px;
}

.listing-container {
  height: 480px;
}

.btn-link:focus {
  box-shadow: none !important;
}

.row .listing-container {
  margin-bottom: 10px;
}

.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.listing-img {
  user-drag: none;
}

/* for box-shadow */
.carousel-item {
  padding-top: 10px;
}
