* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
html {
	background-color: ;
	min-width: 1000px;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
header {
	width: 100vw;
	position: fixed;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	padding: 20px 10%;
	margin-top: 0;
	background-color: rgba(255, 255, 255, 0.781);
	z-index: 100;
}
li,
a,
button {
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	font-size: 20px;
	text-decoration: none;
	color: black;
}

.nav_links li {
	display: inline-block;
	padding: 0px 20px;
}
.nav_links li a {
	transition: all 0.3s ease 0s;
}

#mainLink {
	margin-right: auto;
}
.listingsWrapper {
	background-color: ;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	margin: 0px 10%;
	padding-top: 50px;
	flex-wrap: wrap;
}

.listings {
	position: relative;
	margin-top: 30px;
	margin-left: 30px;
	display: flex;
	width: 300px;
	height: 400px;
	background-color: ;
	border: solid 1px grey;
	cursor: pointer;
}
.listingHeader {
	width: 300px;
	height: 10%;
	background-color: purple;
}
.listingsTime {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 110px;
	height: 100px;
	background-color: ;
	border-top: solid 1px grey;
	border-right: solid 1px grey;
	margin-right: auto;
	text-align: center;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.timehrs {
	margin-top: 30px;
	font-size: 30px;
}
.perw {
	font-size: 13px;
}
.listingsloc {
	width: 189px;
	height: 50px;
	background-color: ;
	position: absolute;
	right: 0;
	bottom: 0;
	border-top: solid 1px grey;
	border-left: solid 1px grey;
}
.listingslocwriting {
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	justify-content: center;
	position: absolute;
	left: 30px;
	bottom: 15px;
}
.listingxp {
	width: 189px;
	height: 50px;
	background-color: ;
	position: absolute;
	right: 0;
	bottom: 50px;
	border-top: solid 1px grey;
	border-left: solid 1px grey;
}
.listingsxpwriting {
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	justify-content: center;
	position: absolute;
	left: 30px;
	bottom: 15px;
}
.imageholder {
	width: 294px;
	height: 160px;
	background-color: ;
	position: absolute;
	right: 2px;
	top: 42px;
	border: none;
}
.imageholder#image1 {
	background-image: url(../IMG/bgimage.jpg);
	background-size: cover;
	background-position: center;
}
.imageholder#image2 {
	background-image: url(../IMG/bgimage.png);
	background-size: cover;
	background-position: center;
}
.lstitle {
	position: absolute;
	top: 220px;
	left: 20px;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.lstcharity {
	position: absolute;
	top: 260px;
	left: 20px;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.listingscat {
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	color: white;
	position: absolute;
	top: 10px;
	left: 10px;
}

.cut-text { 
	text-overflow: ellipsis;
	overflow: hidden; 
	width: 80%; 
	height: 1.2em; 
	white-space: nowrap;
}