form {
  border: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 100px 0;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  margin-left: auto;
  margin-right: auto;
} /* Full-width inputs */
input[type="text"],
input[type="email"],
input[type="password"] {
  width: 200px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  padding: 10px 20px;
  margin-bottom: 5px;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  font-size: 16px;
}

/* Set a style for all buttons */
.submit {
  display: block;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: #f44336;
  color: white;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  padding: 14px 20px;
  text-align: center;
  border: none;
  cursor: pointer;
  width: 200px;
}

/* Add a hover effect for buttons */
.submit:hover {
  opacity: 0.8;
}

/* Add padding to containers */
.container {
  width: 100vw;
  padding: 0px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.title {
  padding-bottom: 20px;
  padding-top: 20px;
  text-align: center;
  color: #f44336;
  font-size: 25px;
  font-weight: bold;
}
#rememberme {
  margin-right: 8px;
}
.username {
  margin-right: auto;
  margin-left: auto;
}
.password {
  margin-right: auto;
  margin-left: auto;
}
.passwordlabel {
  position: relative;
  left: -90px;
  width: 20px;
  top: 25px;
  font-weight: 600;
  visibility: hidden;
}
.usernamelabel {
  position: relative;
  margin-left: -90px;
  top: 25px;
  width: 20px;
  font-weight: 600;
  visibility: hidden;
}
.rememberme {
  margin-left: auto;
  margin-right: auto;
}
.options {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.option {
  width: 160px;
  height: 30px;
  background-color: ;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 20px;
  cursor: pointer;
  border-radius: 20px;
  text-decoration: none;
}
#char {
  width: 120px;
}
#char:hover {
  background-color: #db7c7570;
}
#vol:hover {
  background-color: #db7c7570;
}
.or {
  padding-top: 20px;
}

.selectedOption {
  background-color: #f4433670;
}

.selectedOption:hover {
  background-color: #d62b1f70 !important;
}

.resetPassword {
  display: block;
  padding: 0px 30px;
  margin: auto;
  text-align: center;
  color: #2222ee;
  cursor: pointer;
  font-size: small;
}

.rememberme {
  margin: auto;

  text-align: center;
}

.buttonsContainer {
  width: 300px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
}

@media only all and (min-width: 1000px) {
  form {
    border: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 100px 0;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
    margin-left: auto;
    margin-right: auto;
  } /* Full-width inputs */
  input[type="text"],
  input[type="email"],
  input[type="password"] {
    width: 390px;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
    padding: 10px 20px;
    margin-bottom: 5px;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    font-size: 16px;
  }

  /* Set a style for all buttons */
  .submit {
    background-color: #f44336;
    color: white;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
    padding: 14px 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    border: none;
    cursor: pointer;
    width: 390px;
  }

  /* Add a hover effect for buttons */
  .submit:hover {
    opacity: 0.8;
  }

  /* Add padding to containers */
  .container {
    width: 100vw;
    padding: 0px;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  .title {
    padding: 25px;
    text-align: center;
    color: #f44336;
    font-size: 70px;
    font-weight: bold;
  }
  #rememberme {
    margin-right: 8px;
  }
  .username {
    margin-right: auto;
    margin-left: auto;
  }
  .password {
    margin-right: auto;
    margin-left: auto;
  }
  .passwordlabel {
    position: relative;
    left: -90px;
    width: 20px;
    top: 25px;
    font-weight: 600;
    visibility: visible;
  }
  .usernamelabel {
    position: relative;
    margin-left: -90px;
    top: 25px;
    width: 20px;
    font-weight: 600;
    visibility: visible;
  }
  .rememberme {
    margin-left: auto;
    margin-right: auto;
  }
  .options {
    display: flex;
    flex-direction: row;
  }
  .option {
    width: 375px;
    height: 90px;
    background-color: ;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
    cursor: pointer;
    border-radius: 20px;
    text-decoration: none;
  }
  #char {
    width: 290px;
  }
  #char:hover {
    background-color: #db7c7570;
  }
  #vol:hover {
    background-color: #db7c7570;
  }
  .or {
    padding-top: 25px;
  }

  .selectedOption {
    background-color: #f4433670;
  }

  .selectedOption:hover {
    background-color: #d62b1f70 !important;
  }

  .resetPassword {
    text-align: left;
    margin-left: 0px;
    padding-left: 5px;
  }

  .buttonsContainer {
    width: 400px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
  }
}
