<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../CSS/aboutUs.css">
    <link rel="stylesheet" href="../CSS/header.css">
    <link rel="stylesheet" href="../CSS/footer.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="../JS/aboutUs.js"></script>

    <title>About Us | Cyber Volunteers</title>
    <meta name="description" content="What Cyber Volunteers does and how it can help your organisation">
    <meta name="keywords"
        content="volunteer, cyber volunteers, find volunteers, volunteering, get volunteers, need volunteers, about Cyber Volunteers, what is cyber volunteers">
</head>

<body>
    <div id="pageContainer">
        {{> header}}
        <div id="contentWrap">

            <div class="aboutUsTitle">
                <div>About Cyber Volunteers</div>
            </div>
            <div class="aboutUsText">
                <p>

                    Our mission at Cyber Volunteers is to empower people to get involved with meaningful community causes and enable charities to do extraordinary work by connecting them with passionate volunteers. Through our platform, we aim to provide people with life-changing opportunities and to connect communities and people with purpose.
                </p>
                <br />
                <p>
                    Cyber Volunteers was created because of the difficulties people face in finding ways to volunteer, and because too often young people are forgotten about. So we started Cyber Volunteers, which aims to allow everyone to volunteer.
                </p>
                <br />
                <p>
                    For people interested in helping make a difference, please go to our Search page, then click on any opportunity that you are passionate about. The roles are currently focused on the Sussex area.
                </p>
                <br />
                <p>
                    For charities wanting to promote volunteering opportunities, please sign up as a charity through this website and we will contact you shortly for further details. 
                </p>
                <br />
                
            </div>
            <div class="joinUsBanner">
                <div class="joinUsTitle">Join Us</div>
                <div class="joimUsBoxes">
                    <div class="joinUsBox" id="left">
                        <div class="joinUsBoxTitle">Want to Join as a Volunteer?</div>
                        <div class="joinUsBoxInfo">Join us as a Volunteer and have access to all the charities on the
                            platform. Find charities quickly and easily so you to spend more time making a difference.
                        </div>
                        <button type="submit" class="joinButton volunteerJoinButton">
                            <div class="buttontext">Join now</div>

                        </button>
                    </div>
                    <div class="joinUsBox">
                        <div class="joinUsBoxTitle">Want to Join as a Charity?</div>
                        <div class="joinUsBoxInfo">Join us as a Charity and gain access to a large number of active
                            volunteers, providing help tailored to your volunteering needs. </div>
                        <button type="submit" class="joinButton charityJoinButton">
                            <div class="buttontext">Join now</div>

                        </button>
                    </div>
                </div>
            </div>
        </div>
        {{> footer}}
    </div>
</body>

</html>