<html>

<head>
    {{> common}}

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Advanced Search</title>

    <link rel="stylesheet" href="../CSS/header.css">
    <link rel="stylesheet" href="../CSS/advancedSearch.css">
    <link rel="stylesheet" href="../CSS/listingsPage.css">
    <link rel="stylesheet" href="../CSS/footer.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://rawgit.com/leizongmin/js-xss/master/dist/xss.js"></script>
    <script src="../JS/advancedSearch.js"></script>
</head>

<body>
    <div id="pageContainer">
        {{> header}}
        <div id="contentWrap">
            <div class="title">Advanced Search</div>
            <div class="wrapper">
                <form>

                    <input class="relative search-param" placeholder="Optional criteria for search" name="hoursPerWeek"
                        type="text"><br>
                    <input class="relative search-param" placeholder="Optional criteria for search" name="category"
                        type="text"><br>
                    <input class="relative search-param" placeholder="Optional criteria for search" name="keywords"
                        type="text"><br>
                    <input class="relative search-param" placeholder="Optional criteria for search" name="location"
                        type="text"><br>
                </form>

                <div class="header-background"></div>
                <div class="Search-catagories">
                    <a class="hoursPerWeek">Max hours per week</a>
                    <a class="category">Category</a>
                    <a class="keywords">Key words</a>
                    <a class="location">Location</a>

                </div>

                {{> errorSnippet}}

                <div class="centre">
                    <button type="submit" id="nextButton" class="nextButton">
                        <div class="buttontext">Search</div>
                        <img src="../IMG/whiteArrow2.svg" class="icon" id="whiteArrow">
                    </button>
                </div>
                <div class="listingsWrapper">



                </div>
            </div>
        </div>
        {{> footer}}
    </div>
</body>










</html>