<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href = "../CSS/contactUsLinks.css" rel = "stylesheet" type = "text/css" >
    <link rel="stylesheet" href="../CSS/header.css">
    <link rel="stylesheet" href="../CSS/footer.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="../JS/contactUsLinks.js"></script>

    <title>Contact Us</title>
    <style>
        body {font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;}
        * {box-sizing: border-box;}
        
        .container {
          border-radius: 15px;
          background-color: white;
          padding: 20px;
          
        }

        .header {
          padding-top: 60px;
          margin-bottom: 25px;
          text-align: center;
          color: #f44336;
          font-size: 30px; 
        }
        
        .description {
          margin-top: 30px;
          margin-bottom: 15px;
          margin-left: 25%;
          margin-right: 25%;
          text-align: center;
          color: #000000;
          font-size: 22px; 
        }

        .label1 {
          margin-top: 12px;
          margin-bottom: 10px;
          margin-right: 10px;
          text-align: center;
          color: #f44336;
          font-size: 20px;
        }

        .label2 {
          margin-top: 12px;
          margin-bottom: 10px;
          margin-right: 10px;
          margin-left: 47.5%;
          color: #f44336;
          font-size: 20px;
        }
        
        .box1 {
          display: inherit;
          margin-top: 50px;
          margin-left: auto;
          margin-right: auto;
          border-radius: 15px 15px;
          text-align: center;
          font-size: 15px;
          background:white;
          border: 2px solid #ccc;
          padding: 20px;
          width: 600px;
          height: 155px;
          cursor: pointer;
        }

        .box1:hover {
          background-color: #f0ecec;
        }

        .text1 {
          padding: 20px;
          margin-right: 8px;
          margin-left: 8px;
          font-size: 18px;
        }

        
    </style>
</head>

<body>

{{> header}}

    <div class="header">
        <h1>Contact Us</h1>
    </div>

    <div class = "description">
        <p>We are always delighted when people get in contact with us and would love to talk about the project. We have an open mind and are eager to listen.</p>
    </div>

    <button class="box1" id="business-enquiries">
      <h1>Business Enquiries</h1>
      <div class="text1">
        <p>If you wish to partner with us or learn more about our work please get in contact here.</p>
      </div>
    </button>

    <p></p>

    <button class="box1" id="media-enquiries">
      <h1>Media Enquiries</h1>
      <div class="text1">
        <p>If you wish to learn more about us for media purposes then please contact us here.</p>
      </div>
    </button>
    <div class="footer">
        © 2020 Cyber Volunteers
    </div>
</body>