<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Requirements and Skills</title>
    <link rel="stylesheet" href="../CSS/header.css">
    <link rel="stylesheet" href="../CSS/createListing.css">
</head>
<body>
    <header id="header">
        <a href="#" id="mainLink">CONNECT VOLUNTEERS</a>
        <nav>
            <ul class="nav_links">
                <li><a href="#">CONTACT</a></li>
                <li><a href="#">JOIN</a></li>
                <li><a href="#">ABOUT</a></li>
                <li><a href="#">SEARCH</a></li>
            </ul>
        </nav>
    </header>
    <div class="title" id = "requirementsSkills">What are the Listing's Requirements and Skills</div>
    <div class="reqAndSkillsTitle">Skills</div>
    <div class="wrapper">
        <textarea name="" id="reqAndSkills" cols="30" rows="10"></textarea>
    </div>
    <div class="reqAndSkillsTitle">Requirements</div>
    <div class="wrapper">
        <textarea name="" id="reqAndSkills" cols="30" rows="10"></textarea>
    </div>
    <div class="fowardAndBack">   
        <button type="submit" class="prevButton" id="RSButton">
            Previous
        </button>
        <button type="submit" class="nextButton" id="RSButton">
            <div class="buttontext">Next</div>
            <img src="../IMG/whiteArrow2.svg" class="icon" id="whiteArrow">
        </button>
        
    </div> 
</body>
</html>