<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Choose Catagorys</title>
    <link rel="stylesheet" href="../CSS/header.css">
    <link rel="stylesheet" href="../CSS/createListing.css">
</head>
<body>
    <header id="header">
        <a href="#" id="mainLink">CONNECT VOLUNTEERS</a>
        <nav>
            <ul class="nav_links">
                <li><a href="#">CONTACT</a></li>
                <li><a href="#">JOIN</a></li>
                <li><a href="#">ABOUT</a></li>
                <li><a href="#">SEARCH</a></li>
            </ul>
        </nav>
    </header>
    <div class="title">Choose your Catagories</div>

    <div class = "SelectableCats">
        <div class="iconGroup">
            <img class = "icon" src="../IMG/Hands with Heart 2.svg" alt="">
            <div>Advocacy</div>
        </div>
        <div class="iconGroup">
            <img src="../IMG/mouse logo 2.svg" class="icon">
            <div>Computing</div>
        </div>
        <div class="iconGroup">
            <img src="../IMG/community logo 2.svg" alt="" class="icon">
            <div>Community</div>
        </div>
        <div class="iconGroup">
            <img src="../IMG/education logo 2.svg" alt="" class="icon">
            <div>Education</div>
        </div>
        <div class="iconGroup">
            <img class = "icon" src="../IMG/Hands with Heart 2.svg" alt="">
            <div>Advocacy</div>
        </div>
        <div class="iconGroup">
            <img src="../IMG/mouse logo 2.svg" class="icon">
            <div>Computing</div>
        </div>
        <div class="iconGroup">
            <img src="../IMG/community logo 2.svg" alt="" class="icon">
            <div>Community</div>
        </div>
        <div class="iconGroup">
            <img src="../IMG/education logo 2.svg" alt="" class="icon">
            <div>Education</div>
        </div>
        <div class="iconGroup">
            <img class = "icon" src="../IMG/Hands with Heart 2.svg" alt="">
            <div>Advocacy</div>
        </div>
        <div class="iconGroup">
            <img src="../IMG/mouse logo 2.svg" class="icon">
            <div>Computing</div>
        </div>
        <div class="iconGroup">
            <img src="../IMG/community logo 2.svg" alt="" class="icon">
            <div>Community</div>
        </div>
        <div class="iconGroup">
            <img src="../IMG/education logo 2.svg" alt="" class="icon">
            <div>Education</div>
        </div><div class="iconGroup">
            <img class = "icon" src="../IMG/Hands with Heart 2.svg" alt="">
            <div>Advocacy</div>
        </div>
        <div class="iconGroup">
            <img src="../IMG/mouse logo 2.svg" class="icon">
            <div>Computing</div>
        </div>
        <div class="iconGroup">
            <img src="../IMG/community logo 2.svg" alt="" class="icon">
            <div>Community</div>
        </div>
        <div class="iconGroup">
            <img src="../IMG/education logo 2.svg" alt="" class="icon">
            <div>Education</div>
        </div>
    </div>

    <div class="fowardAndBack">   
        <button type="submit" class="prevButton">
            Previous
        </button>
        <button type="submit" class="nextButton">
            <div class="buttontext">Next</div>
            <img src="../IMG/whiteArrow2.svg" class="icon" id="whiteArrow">
        </button>
        
    </div> 
</body>
</html>