<!DOCTYPE html>
<html lang="en">

<head>
    {{> common}}

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create a listing</title>
    <link rel="stylesheet" href="../CSS/header.css">
    <link rel="stylesheet" href="../CSS/createListing.css">
    <link rel="stylesheet" href="../CSS/footer.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="../JS/createListing.js"></script>
</head>

<body>
    <div id="pageContainer">
        {{> header}}
        <div id="contentWrap">

            <div class="mainContainer">
                <div class="cat hiddenElement">
                    <div class="title">Choose your Catagories</div>

                    <div class="SelectableCats">
                        <div class="iconGroup">
                            <img src="../IMG/Hands with Heart 2.svg" class="icon">
                            <div class="catName">Advocacy & Human Rights</div>
                        </div>
                        <div class="iconGroup">
                            <img src="../IMG/arts and culture 2.svg" alt="" class="icon">
                            <div class="catName">Arts & Culture</div>
                        </div>



                        <div class="iconGroup">
                            <img src="../IMG/community logo 2.svg" alt="" class="icon">
                            <div class="catName">Community</div>
                        </div>
                        <div class="iconGroup">
                            <img src="../IMG/mouse logo 2.svg" alt="" class="icon">
                            <div class="catName">Computers & Technology</div>
                        </div>


                        <div class="iconGroup">
                            <img src="../IMG/education logo 2.svg" alt="" class="icon">
                            <div class="catName">Education</div>
                        </div>
                        <div class="iconGroup">
                            <img src="../IMG/health and education 2.svg" alt="" class="icon">
                            <div class="catName">Healthcare & Medicine</div>
                        </div>






                        <div class="iconGroup">
                            <img src="../IMG/justice and legal 2.svg" class="icon" id="jlIcon">
                            <div class="catName">Justice & Legal</div>
                        </div>



                    </div>
                </div>
                <div class="desc hiddenElement">
                    <div class="title">Describe the Listing</div>
                    <div class="wrapper">
                        <textarea id="description" cols="30" rows="10" required maxlength="1250"></textarea>
                    </div>
                </div>
                <div class="reqAndSkills hiddenElement">
                    <div class="title" id="requirementsSkills">What are the Listing's Requirements and Skills</div>
                    <div class="reqAndSkillsTitle">Skills</div>
                    <div class="wrapper">
                        <textarea id="skills" cols="30" rows="10" required maxlength="1000"></textarea>
                    </div>
                    <div class="reqAndSkillsTitle" required>Requirements</div>
                    <div class="wrapper">
                        <textarea id="requirements" cols="30" rows="10" required maxlength="500"></textarea>
                    </div>
                </div>
                <div class="otherFields hiddenElement">
                    <div class="title">Some Basic Information About the Listing</div>
                    <div class="basicInfo">
                        <div class="generalTitle">What is the Title of the Oppurtunity</div>
                        <input type="text" name="" id="opportunityTitle" class="generalInput" required maxlength="50">
                        <div class="generalTitle" required>When will the Volunteering Happen</div>
                        <input type="text" name="" id="timeForVolunteering" class="generalInput" required
                            maxlength="200">
                        <div class="generalTitle">Where will the Volunteering Happen</div>
                        <input type="text" name="" id="placeForVolunteering" class="generalInput" required
                            maxlength="200">
                        <div class="generalTitle">How Long will this Opportunity Last</div>
                        <input type="number" name="" id="generalInputNum" class="generalInput" required>
                        <select name="" id="time-select" required>
                            <option value="week">Weeks</option>
                            <option value="month">Months</option>
                            <option value="year">Years</option>
                            <option value="indefinitely">Indefinitely</option>
                        </select>

                        <div class="generalTitle">How Long will the Volunteering Take</div>
                        <div>between <input type="number" id="minHoursPerWeek" class="generalInputNum" required> hours
                            and <input type="number" id="maxHoursPerWeek" class="generalInputNum" required> hours per
                            week</div>
                        <div class="generalTitle">What Group of People is this best for</div>
                        <div class="bestForWrapper">
                            <div class="teens">
                                <label for="#over55">Teens</label>
                                <input type="checkbox" id="over55" class="generalInputBox">
                            </div>
                            <div class="18-55">
                                <label for="#18-55">18-55</label>
                                <input type="checkbox" id="over55" class="generalInputBox">
                            </div>
                            <div class="over55">
                                <label for="#over55">Over 55</label>
                                <input type="checkbox" id="over55" class="generalInputBox">
                            </div>
                        </div>
                        <div class="generalTitle">How Many People are you looking for</div>
                        <input type="number" id="numOfvolunteers" class="generalInputNum" required>

                        {{!-- <div class="label1">
                            <label for="listingPicture">Upload listing picture (OPTIONAL): </label>
                            <input type="file" id="listingPicture" name="listingPicture">
                        </div> --}}
                    </div>
                </div>
            </div>

            {{> errorSnippet}}

            <div class="fowardAndBack">
                <button type="submit" class="prevButton">
                    Previous
                </button>
                <button type="submit" class="nextButton">
                    <div class="buttontext">Next</div>
                    <img src="../IMG/whiteArrow2.svg" class="icon" id="whiteArrow">
                </button>

            </div>
        </div>
        {{> footer}}
    </div>
</body>

</html>