<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../CSS/header.css">
    <link rel="stylesheet" href="../CSS/errorPage.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    
    <title>Error 404 Page not Found</title>
</head>
<body>
  <div id="pageContainer">
        <div id="contentWrap">
    {{> header}}
   
    <div class="maintext">Error 404</div>
    <div class="subtext">Page not Found</div>
</body>
</html>