<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../CSS/header.css">
    <link rel="stylesheet" href="../CSS/errorPage.css">
    <title>Thank you for helping</title>
</head>
<body>
    
    <div class="maintext">The form is now complete</div>
    <div class="subtext">Thanks for filling out the form
    </div>
</body>
</html>