<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="keywords"
        content="cyber,volunteers,online,volunteering,charity,charities,volunteermatch,match,purpose,uk">
    <meta name="description"
        content="Cyber Volunteers is an organisation based in Brighton, UK, dedicated to helping connect charities with passionate volunteers.">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home | Cyber Volunteers</title>

    <link rel="stylesheet" href="../CSS/homePagev2.css">

    <meta name="google-signin-client_id"
        content="934782429158-eujdn2fg5cnlsitta4cn4sv6rtoo3rsq.apps.googleusercontent.com">
    <meta name="google-signin-scope" content="https://www.googleapis.com/auth/analytics.readonly">



    <script src="https://unpkg.com/babel-standalone@6/babel.min.js"></script>

      <script src="https://unpkg.com/react/umd/react.development.js" crossorigin></script>

<script
  src="https://unpkg.com/react-dom/umd/react-dom.development.js"
  crossorigin></script>

<script
  src="https://unpkg.com/react-bootstrap@next/dist/react-bootstrap.min.js"
  crossorigin></script>

      <link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
  integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l"
  crossorigin="anonymous"
/>
</head>

<body>
    <div id="pageContainer">
    </div>

    <script src="../JS/homepagev2.jsx" type="text/babel"></script>
</body>

</html>