<!DOCTYPE html>
<html lang="en">

<head>

    {{> common}}

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../CSS/listingsPage.css">
    <link rel="stylesheet" href="../CSS/searchMainPage.css">

    <script src="https://rawgit.com/leizongmin/js-xss/master/dist/xss.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="../JS/listingsPage.js"></script>

    <title>Find Volunteering Opportunities | Cyber Volunteers</title>
    <meta name="description" content="FInd Volunteering Opportunities through the Cyber Volunteers Website">
    <meta name="keywords" content="volunteer, cyber volunteers, find volunteers, volunteering, get volunteers, need volunteers, want to volunteer">
</head>

<body>
    <div id="pageContainer">
        {{> header}}
        <div id="contentWrap">
            {{> errorSnippet}}

            <div class="wrapper">
                <input type="text" name="" id="" class="searchBar" placeholder="Search for Volunteer Oppurtunities">

            </div>

            <div class="listingsWrapper">
                
                </div>
                
               
               
            </div>
        </div>
        {{!-- {{> footer}} --}}
    </div>
</body>

</html>
