<!DOCTYPE html>
<html lang="en">

<head>
    {{> common}}

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../CSS/newListings.css">
    <link rel="stylesheet" href="../CSS/header.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://rawgit.com/leizongmin/js-xss/master/dist/xss.js"></script>
    <script src="../JS/listing.js"></script>
    <title>listing</title>
</head>

<body>
    <div id="pageContainer">
        {{> header}}
        <div id="contentWrap">

            {{> errorSnippet}}

            <div class="opertunitytitle">Loading</div>
            <div class="opertunityorg">Loading</div>
            <div class="opinfowrap">
                <div class="opdescription">
                    <div class="opdescriptiontext" id="general">Loading
                    </div>
                    <div class="title">Skills</div>
                    <div class="opdescriptiontext skills">Loading
                    </div>
                    <div class="title">Requirements</div>
                    <div class="opdescriptiontext requirements">Loading
                    </div>
                    <button type="submit" class="wantToHelpButton">
                        <div class="buttontext">I Want to Help</div>
                    </button>
                </div>
                <div class="basicinfobox">
                    <div class="basicinfoboxheader">Key Information</div>
                    <div class="basicinfoinfo">
                        <div class="basicInfoChuck">
                            <div class="basicinfogroup">
                                <div class="basicinfotitle">When</div>
                                <div class="basicinfo timeInfo">Loading

                                </div>
                            </div>
                            <div class="basicinfogroup">
                                <div class="basicinfotitle" id='timeRequirenents'>Time Requirements</div>
                                <div class="basicinfo timeReqNumbers">Loading</div>
                            </div>
                        </div>
                        <div class="basicInfoChuck">
                            <div class="basicinfogroup">
                                <div class="basicinfotitle">Where</div>
                                <div class="basicinfo placeInfo">Loading</div>
                            </div>

                            <div class="basicinfogroup">
                                <div class="basicinfotitle">Good For</div>
                                <div class="basicinfo recommendedGroups">Loading</div>
                            </div>
                        </div>
                        <div class="basicInfoChuck manageListing">
                            <div class="basicinfogroup">
                                <button class="basicinfotitle edit-btn">Edit Listing</button>
                            </div>

                            <div class="basicinfogroup">
                                <button class="basicinfotitle del-btn">Delete Listing</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="confirmPopUp">
            <div class="title"><strong> Help offer </strong></div>

            <div class="confirmBody">

                <div class="confirmText">Are you sure you want to send a request to join to the charity? The information you put down when you signed up will be sent directly to the charity. 
                </div>

                <button class="confirmButton">Yes</button>

            </div>


        </div>
        {{> footer}}
    </div>
</body>

</html>