<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="../CSS/login.css" rel="stylesheet" type="text/css">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="../JS/login.js"></script>

  <title>Login Page</title>
</head>

<body>
  <div id="pageContainer">
    {{> header}}
    <div id="contentWrap">

      <form action="" method="">

        <div class="title">
          <div>Login as a</div>
          <div class="options">
            <div class="option selectedOption" id="vol">Volunteer</div>
            <div class="or">or</div>
            <div class="option" id="char">Charity</div>
          </div>
        </div>

        <div class="container">
          <div class="username">
            <div class="usernamelabel">Email</div>
            <input type="email" id="email" placeholder="Enter Email" name="uname" required>
          </div>

          <div class="password">
            <div class="passwordlabel">Password</div>
            <input type="password" id="password" placeholder="Enter Password" name="psw" required>
          </div>

          {{> errorSnippet}}

          <button type="submit" class="submit">Submit</button>

          <div class="rememberme">

            <input type="checkbox" id="rememberMeCheckbox" checked="checked" name="remember">Remember me
          </div>
        </div>
      </form>
    </div>
    {{> footer}}
  </div>
</body>