
<!DOCTYPE html>
<html lang="en">
<head>
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href = "../CSS/login.css" rel = "stylesheet" type = "text/css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="../JS/login.js"></script>
    <title>LoginPage</title>
    <style>/* Bordered form */
        form {
          border: none;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          padding: 100px 0;
          font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
          margin-left: auto;
          margin-right: auto;
          
        }
        
        /* Full-width inputs */
<<<<<<< HEAD:code/public/web/HTML/Login Page.html
        input[type=text], input[type=password] {
          
          width: 390px;
=======
        input[type=text], input[type=email], input[type=password] {
          width: 40%;
>>>>>>> df779c04079673ab122b4c81e0f6af9b3da845e4:code/public/web/HTML/login.hbs
          font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
          padding: 10px 20px;
          margin-bottom: 5px;
          display: inline-block;
          border: 1px solid #ccc;
          box-sizing: border-box;
          font-size: 16px;
          
         
        }
        
        /* Set a style for all buttons */
        button {
          background-color: #f44336;
          color: white;
          font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
          padding: 14px 20px;
          margin-top: 30px;
          margin-bottom: 20px;
          margin-left: auto;
          margin-right: auto;
          text-align: center;
          border: none;
          cursor: pointer;
          width: 390px;
        }
        
        /* Add a hover effect for buttons */
        button:hover {
          opacity: 0.8;
        }
        
        /* Add padding to containers */
        .container {
          width: 100vw;
          padding: 16px;
          display: flex;
          justify-content: center;
          flex-direction: column;
          
        }

        .header {
          padding: 25px;
          text-align: center;
          color: #f44336;
          font-size: 30px; 
        }
        #rememberme{
          margin-right:8px;
        }
        .username{
          margin-right: auto;
          margin-left: auto;
        }
        .password{
    
          margin-right: auto;
          margin-left: auto;

        }
        .passwordlabel{
          position: relative;
          left: -90px;
          width: 20px;
          top: 25px;
          font-weight: 600;
          
        }
        .usernamelabel{
          position: relative;
          margin-left: -90px;
          top: 25px;
          width: 20px;
          font-weight: 600;
        }
        .rememberme{
          margin-left: auto;
          margin-right: auto;
          
        }
    </style>
</head>

<body>
    <header>
        <a href="#" id="mainLink">CYBER VOLUNTEERS</a>
        <nav>
            <ul class="nav_links">
                <li><a href="#">CONTACT</a></li>
                <li><a href="#">JOIN</a></li>
                <li><a href="#">ABOUT</a></li>
                <li><a href="#">SEARCH</a></li>
            </ul>
        </nav>
    </header>

    <form action="" method="">
      
        <div class="header">
            <h1>Login</h1>
        </div>

        <div class="container">
<<<<<<< HEAD:code/public/web/HTML/Login Page.html
          <div class="username">
            <div class="usernamelabel">Username</div>
            <input type="text"  placeholder="Enter Username" name="uname" required>
          </div>
          
          <div class="password">
            <div class="passwordlabel">Password</div>
            <input type="password"  placeholder="Enter Password" name="psw" required>
          </div>
        
=======
          <label for="email"><b>Email</b></label>
          <input class="email" type="email" style="margin-left:8px" placeholder="Enter Email" name="email" required>

          <p> </p>
      
          <label for="psw"><b>Password</b></label>
          <input class="password" type="password" style="margin-left:15px" placeholder="Enter Password" name="psw" required>
      
          <p> </p>
>>>>>>> df779c04079673ab122b4c81e0f6af9b3da845e4:code/public/web/HTML/login.hbs

          <button type="submit">Submit</button>

         
          <div class="rememberme">
            
              <input type="checkbox" id="rememberme" checked="checked" name="remember">Remember me
            
          </div>
        </div>

      </form>

