<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../CSS/volunteerMyAccount.css">
    <link rel="stylesheet" href="../CSS/header.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="../JS/myAccount.js"></script>

    <title>My Account</title>
</head>

<body>
    <div id="pageContainer">
        {{> header}}
        <div id="contentWrap">
            <div class="welcomeTitle">Welcome {{firstName}} {{lastName}}</div>
            <div class="yourAccountInfo">
                <div class="yourAccountInfoTitle">Your Information</div>
                <table class="yourAccountInfoMain">
                    <tr>
                        <td>Email Adress:</td>
                        <td>{{email}}</td>
                    </tr>
                    <tr>
                        <td>Phone Number:</td>
                        <td>{{phoneNumber}}</td>
                    </tr>

                </table>

            </div>
            <div class="changePasswordButton">
                <a href="/resetPasswordRequest">
                    <div class="changePasswordText">Change Password</div>
                </a>
            </div>
            <div class="signOutButton">
                <div class="signOutButtonText">Sign Out</div>
            </div>
        </div>
        {{> footer}}
    </div>
</body>

</html>