<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../CSS/charityMyAccount.css">
    <link rel="stylesheet" href="../CSS/header.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="../JS/myAccount.js"></script>
    
    <title>My Account</title>
</head>
<body>
    
    {{> header}}
    
    <div class="welcomeTitle">Welcome {{charityName}}</div>
    <div class="createAListingBox">
        <div class="createAListingBoxTitle">Want to Create a Listing</div>
        <div class="createAListingBoxMain">Create a listing and get access to all our volunteers for free. The process is quick and easy and enables 
            your organization to get reliable profesional volunteers.
        </div>
        <div class="createAListingButton">
            <div class="createAListingButtonText">Create a Listing</div>
        </div>
        <!-- <div class="signOutButton">
            <div class="signOutButtonText">Change Password</div>
        </div> -->
        <div class="signOutButton">
            <div class="signOutButtonText">Sign Out</div>
        </div>
    </div>
    {{> footer}}
</body>
</html>