<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../CSS/header.css">
    <link rel="stylesheet" href="../CSS/errorPage.css">
    <title>You need to be a charity to do this</title>
</head>
<body>
    
    <div class="maintext">You need to be a charity to do this</div>
    <div class="subtext">If you want to register as a charity please visit the charity sign up page
    </div>
</body>
</html>