<!DOCTYPE html>
<html lang="en">

<head>

  {{> common}}

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="../CSS/resetPassword.css" rel="stylesheet" type="text/css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="../JS/resetPassword.js"></script>

  <title>Reset Password</title>
</head>

<body>
  <form action="" method="">

    <div class="title">
      <div>Reset Password</div>
    </div>

    {{#if isSuccessful}}

    <div class="container">
      <div class="newPassword">
        <div class="newPasswordlabel">New Password</div>
        <input type="password" id="password1" placeholder="Enter Password" name="psw1" required>
      </div>

      <div class="retypePassword">
        <div class="retypePasswordlabel">Retype Password</div>
        <input type="password" id="password2" placeholder="Re-enter Password" name="psw2" required>
      </div>

      <button type="submit" class="submit">Submit</button>

      {{> errorSnippet}}

    </div>
    {{else}}
    <div class="subheader">Something went wrong. It might be because too much time passed since the email was
                sent. Please try again.</div>
    {{/if}}
  </form>
</body>