<!DOCTYPE html>
<html lang="en">

<head>
  {{> common}}

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="../CSS/resetPassword.css" rel="stylesheet" type="text/css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>


  <link rel="stylesheet" href="../CSS/header.css">

  <title>Password Reset Email Sent</title>
</head>

<body>
  <div id="pageContainer">
    {{> header}}
    <div id="contentWrap">
      {{#if isSuccessful}}
      <div class="title">
        <div>Please check your inbox.</div>
      </div>
      <div class="subheading">
        If an email doesn't arrive, check if the email is correct or refresh the page.
      </div>
      {{else}}
      <div class="title">
        <div>Something went wrong. Did you type in the correct email and tell us whether you are a volunteer?</div>
      </div>
      <div class="subheading">
        Try going to the login page to reset the password or logging in.
      </div>
      {{/if}}
    </div>
    {{> footer}}
  </div>
</body>