<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../CSS/searchMainPage.css">
    <link rel="stylesheet" href="../CSS/header.css">
    <link rel="stylesheet" href="../CSS/listingsPage.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://rawgit.com/leizongmin/js-xss/master/dist/xss.js"></script>
    <script src="../JS/searchPage.js"></script>
    <title>Search Main Page</title>
</head>
<body>
    <div id="pageContainer">
        <div id="contentWrap">
    <div class="wrapper">
        {{> errorSnippet}}
        <input type="text" name="" id="" class="searchBar" placeholder="Search for Volunteer Oppurtunities">
        
    </div>
    <div class="listingsWrapper">

    </div>
       </div>
   {{> footer}}
   </div>
</body>
</html>