<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../CSS/searchMainPage.css">
    <link rel="stylesheet" href="../CSS/header.css">
    <link rel="stylesheet" href="../CSS/listingsPage.css">
    <title>Search Main Page</title>
</head>
<body>
    <div class="wrapper">
        <input type="text" name="" id="" class="searchBar" placeholder="Search for Volunteer Oppurtunities">
        
    </div>
    <div class="listingsWrapper">
        <div class="listings" id="listing1" onclick="location. href='https://www.onlinevolunteering.org/en/youth-press-and-development-organisation/online-fundraising-campaign-covid-19-emergency-response-2'">
            <div class="listingHeader"><div class="listingscat">COVID 19 RESPONSE</div></div>
            <div class="listingsTime">
                <div class="timehrs">1-5</div>
                <div class="perw">Hours per Week</div>
            </div>
            <div class="listingsloc"><div class="listingslocwriting">Virtual</div>
            </div>
            <div class="listingxp"><div class="listingsxpwriting">Translation and interpretation</div>
            
            </div>
            <div class="imageholder" id="" style="background-image: url(../IMG/personTranslating.jpg);
            background-size: cover;
            background-position: center;"></div>
            <div class="lstitle">Online Fundraising campaign as COVID-19 emergency response</div>
            <div class="lstcharity">Youth Press and Development Organisation</div>
        </div>
        <div class="listings" id="listing1" onclick="location. href='https://www.onlinevolunteering.org/en/wise-wash-southeast-asia/translateproofread-survey-about-covid-19-behaviours-english-bengali-0'">
            <div class="listingHeader"><div class="listingscat">COVID 19 RESPONSE</div></div>
            <div class="listingsTime">
                <div class="timehrs">6-10</div>
                <div class="perw">Hours per Week</div>
            </div>
            <div class="listingsloc"><div class="listingslocwriting">Virtual</div>
            </div>
            <div class="listingxp"><div class="listingsxpwriting">Translation and interpretation</div>
            
            </div>
            <div class="imageholder" id="image2"></div>
            <div class="lstitle">Translate/proofread survey about COVID-19 behaviours from English to Bengali</div>
            <div class="lstcharity">WISE - WASH in Southease Asia</div>
        </div>
        <div class="listings" id="listing1" onclick="location. href='https://www.rockinghorse.org.uk/'">
            <div class="listingHeader"><div class="listingscat">FUNDRAISING</div></div>
            <div class="listingsTime">
                <div class="timehrs">3</div>
                <div class="perw">Hours per Week</div>
            </div>
            <div class="listingsloc"><div class="listingslocwriting">Brighton</div>
            </div>
            <div class="listingxp"><div class="listingsxpwriting">Fundraising</div>
            </div>
            <div class="imageholder" id="" style="background-image: url(../IMG/rockingHorse.JPG);
            background-size: cover;
            background-position: center;"></div>
            <div class="lstitle">Fundraising</div>
            <div class="lstcharity">Rocking Horse</div>
        </div>
        <div class="listings" id="listing1" onclick="location. href='https://volunteer.savethechildren.org.uk/opportunities/13609-boutique-shop-volunteer-richmond-2020-07-22'">
            <div class="listingHeader"><div class="listingscat">FUNDRAISING</div></div>
            <div class="listingsTime">
                <div class="timehrs">3-4</div>
                <div class="perw">Hours per Week</div>
            </div>
            <div class="listingsloc"><div class="listingslocwriting">London</div>
            </div>
            <div class="listingxp"><div class="listingsxpwriting">Shop based</div>
            </div>
            <div class="imageholder" id="" style="background-image: url(../IMG/MLG2.jpg);
            background-size: cover;
            background-position: center;"></div>
            <div class="lstitle">Boutiques Shop Volunteer (RICHMOND)</div>
            <div class="lstcharity">Save the Children</div>
        </div>
        <div class="listings" id="listing1" onclick="location. href='https://oxfamapps.org/festivals/'">
            <div class="listingHeader"><div class="listingscat">FUNDRAISING</div></div>
            <div class="listingsTime">
                <div class="timehrs">N/A</div>
                <div class="perw"></div>
            </div>
            <div class="listingsloc"><div class="listingslocwriting">UK</div>
            </div>
            <div class="listingxp"><div class="listingsxpwriting">Fundraising at a Festival</div>
            </div>
            <div class="imageholder" id="" style="background-image: url(../IMG/oxfamFestival.JPG);
            background-size: cover;
            background-position: center;"></div>
            <div class="lstitle">Volunteer at a Festival</div>
            <div class="lstcharity">Oxfam</div>
        </div>
        <div class="listings" id="listing1" onclick="location. href='https://volunteer.savethechildren.org.uk/opportunities/13770-boutique-shop-volunteer-hampstead-2020-08-13'">
            <div class="listingHeader"><div class="listingscat">FUNDRAISING</div></div>
            <div class="listingsTime">
                <div class="timehrs">4</div>
                <div class="perw">Hours per Week</div>
            </div>
            <div class="listingsloc"><div class="listingslocwriting">London</div>
            </div>
            <div class="listingxp"><div class="listingsxpwriting">Shop based</div>
            </div>
            <div class="imageholder" id="" style="background-image: url(../IMG/MLG3.jpg);
            background-size: cover;
            background-position: center;"></div>
            <div class="lstitle">Boutiques Shop Volunteer (HAMPSTEAD)</div>
            <div class="lstcharity">Save the Children</div>
        </div>
        <div class="listings" id="listing1" onclick="location. href='https://volunteer.savethechildren.org.uk/opportunities/13610-boutique-shop-volunteer-chiswick-2020-07-22'">
            <div class="listingHeader"><div class="listingscat">FUNDRAISING</div></div>
            <div class="listingsTime">
                <div class="timehrs">6-7</div>
                <div class="perw">Hours per Week</div>
            </div>
            <div class="listingsloc"><div class="listingslocwriting">London</div>
            </div>
            <div class="listingxp"><div class="listingsxpwriting">Shop based</div>
            </div>
            <div class="imageholder" id="" style="background-image: url(../IMG/MLG.png);
            background-size: cover;
            background-position: center;"></div>
            <div class="lstitle">Boutiques Shop Volunteer (CHISWICK)</div>
            <div class="lstcharity">Save the Children</div>
        </div>
        <div class="listings" id="listing1" onclick="location. href='https://www.oxfam.org.uk/get-involved/volunteer-with-us'">
            <div class="listingHeader"><div class="listingscat">FUNDRAISING</div></div>
            <div class="listingsTime">
                <div class="timehrs">1-5</div>
                <div class="perw">Hours per Week</div>
            </div>
            <div class="listingsloc"><div class="listingslocwriting">UK</div>
            </div>
            <div class="listingxp"><div class="listingsxpwriting">Shop based</div>
            
            </div>
            <div class="imageholder" id="" style="background-image: url(../IMG/oxfamShop.jpg);
            background-size: cover;
            background-position: center;"></div>
            <div class="lstitle">Volunteering in a Shop</div>
            <div class="lstcharity">Oxfam</div>
        </div>
    </div>
</body>
</html>