<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../CSS/header.css">
    <link rel="stylesheet" href="../CSS/errorPage.css">
    <title>Verification Email Sent</title>
</head>
<body>

    {{> header}}
    
    <div class="maintext">A Verification Email Sent</div>
    <div class="subtext">Please ckeck your inbox</div>
</body>
</html>