
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href = "../CSS/newUserSignUpPage.css" rel = "stylesheet" type = "text/css" >
    <link href = "../CSS/header.css" rel = "stylesheet" type = "text/css" >

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="../JS/volunteerSignUp.js"></script>

    <title>New User Sign Up</title>
    <style>
        
        
    </style>
</head>

<body>
    
    

    <div class="header">
        <h1>Sign Up</h1>
    </div>

    <div class="container">
        <form action="/action_page.php">

            <label for="username">Email</label>
            <input type = "email" id="username" name="username" placeholder="Your email">

            <label for="password">Password</label>
            <input type = "password" id="password" name="password" placeholder="Your password">

            <label for="gender">Gender</label>
            <select name="gender" id="gender">
                <option value="m">Male</option>
                <option value="f">Female</option>
                <option value="o">Other</option>
            </select>

            <label for="Sal">Salutation</label>
            <select id="Sal" name="Sal">
                <option value="Mr">Mr</option>
                <option value="Dr">Dr</option>
                <option value="Mrs">Mrs</option>
                <option value="Miss">Miss</option>
            </select>

            <label for="fname">First Name</label>
            <input type="text" id="fname" name="firstname" placeholder="Your name">

            <label for="lname">Last Name</label>
            <input type="text" id="lname" name="lastname" placeholder="Your last name">
            
            <div class="label1">
                <label for="bday">Birthday</label>
                <input type="date" name="bday" id="bday">
            </div>

            <p></p>

            <label for="nation">Nationality</label>
            <input type="text" name="nation" id="nation" placeholder="Your nationality">

            <label for="occ">Occupation (OPTIONAL)</label>
            <input type="text" name="occ" id="occ" placeholder="Your occupation">

            <label for="pc">Address</label>
            <input type="text" name="address" id="address" placeholder="Your address">

            <label for="pc">Postcode</label>
            <input type="text" name="pc" id="pc" placeholder="Your postcode">

            <label for="city">City</label>
            <input type="text" name="city" id="city" placeholder="Your city">

            <label for="country">Country</label>
            <input type="text" name="country" id="country" placeholder="Your country">

            <label for="num">Mobile Number</label>
            <input type="text" name="num" id="num" placeholder="Your mobile number">

            <label for="num">Languages (Please enter any known languages)</label>
            <input type="text" name="lang" id="lang" placeholder="Your known languages">

            <label for="subject">Skills and Interests (Please enter any that you feel relevant)</label>
            <textarea id="subject" name="subject" placeholder="Your skills and interests, for e.g. 'Skills: web development. Interests: animals.'" style="height:200px"></textarea>

            {{> errorSnippet}}
            
            <input type="submit" value="Submit">
        </form>
    </div>

</body>