<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TestLogin</title>
    <style>
        .wrapper{
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
            align-content: center;
        }
    </style>
</head>
<body>
    <div class="wrapper">
        <label for="username">Email</label>
        <input type = "text" id="username" name="username">
        <label for="password">Password</label>
        <input type = "text" id="password" name="password">
        <label for="Sal">Salutation</label>
        <select id="Sal" name="Sal">
            <option value="Mr">Mr</option>
            <option value="Dr">Dr</option>
            <option value="Mrs">Mrs</option>
            <option value="Miss">Miss</option>
          </select>
          <label for="gender">gender</label>
          <select name="gender" id="gender">
              <option value="male">Male</option>
              <option value="female">Female</option>
              <option value="other">Other</option>
          </select>
          <label for="fname">First Name</label>
          <input type="text" name="fname" id="fname">
          <label for="lname">Last Name</label>
          <input type="text" name="lname" id="lname">
          <label for="bday">Birth Day</label>
          <input type="date" name="bday" id="bday">
          <label for="nation">Nationality</label>
          <input type="text" name="nation" id="nation">
          <label for="occ">occupation</label>
          <input type="text" name="occ" id="occ">
          <label for="pc">postcode</label>
          <input type="text" name="pc" id="pc">
          <label for="num">Mobile</label>
          <input type="tel" name="num" id="num">
       
        <label for="skills">Skills</label>
        <div id = "skills">
        <label for="web">Web dev</label>
        <input type="checkbox" name="web" id="skills">
        
    </div>
    <label for="lang">Languages</label>
        <input type="text" name="lang" id="">
        <label for="int">Interests</label>
        <div id="int"> 
        <label for="animals">Animals</label>
        <input type="checkbox" name="animals" id="">
    </div>
    <label for="lnk">LinkedIn</label>
    <input type="text" name="lnk" id="">
    <label for="cty">City</label>
    <input type="text" name="cty" id="">
    <label for="ad">Adress</label>
    <input type="text" name="ad" id="">
    <label for="st">State</label>
    <input type="text" name="st" id="">
    <input type="submit" value="submit">
    </div>
  
</body>
</html>