<header>
    <a href="#" class="homepageLink" id="mainLink"><img src="../IMG/Logo main 3.svg"></img></a>
    <nav>
        <ul class="nav_links">
            <li><a class="contact" href="#">CONTACT</a></li>
            <li><a class="about" href="#">ABOUT</a></li>
            <li><a class="search" href="#">SEARCH</a></li>
            <li><a class="join" href="#">JOIN</a></li>
            <li><a class="signIn" href="#">SIGN IN</a></li>
        </ul>
    </nav>
</header>
