body {
	margin: none;
}
.title {
	text-align: center;
	padding-top: 70px;
	font-size: 50px;
}
.joinBox {
	margin-top: 60px;
	margin-left: 5px;
	margin-right: 5px;
	width: 300px;
	max-width: 50vw;
	height: 500px;
	background-color: ;
	box-shadow: black 1px 1px 4px;
}
.joinBoxes {
	display: flex;
	justify-content: center;
}
#joinVolunteerBox {
	margin-right: 5px;
}
#joinCharityBox {
	margin-left: 5px;
}
.joinBoxTitle {
	text-align: center;
	margin-top: 15px;
	font-size: 25px;
}
.joinBoxMainText {
	margin-left: 20px;
	margin-right: 20px;
	margin-top: 30px;
	text-align: center;
	font-size: 15px;
}
.joinButton {
	position: ;
	width: 80px;
	height: 45px;
	background-color: #f85120;
	border: none;
	margin-top: 40px;

	margin-left: auto;
	margin-right: auto;
	border-radius: 50px;
	cursor: pointer;
	display: flex;
	align-items: center;
}
.icon {
	width: 30px;
	height: 30px;
}
#whiteArrowLeft {
	visibility: hidden;
}
#whiteArrowRight {
	visibility: hidden;
}
.buttontext {
	visibility: hidden;
}
.buttontextmobile {
	visibility: visible;
	margin-left: 10px;
}
.buttontextmobile,
#left {
	margin-left: -25px;
}
.buttontextmobile,
#right {
	margin-left: -45px;
}
#JoinButtonRight {
}
@media only all and (min-width: 1000px) {
	.title {
		text-align: center;
		padding-top: 70px;
		font-size: 50px;
	}
	.joinBox {
		margin-top: 60px;
		width: 500px;
		height: 350px;
		background-color: ;
		box-shadow: black 1px 1px 4px;
	}
	.joinBoxes {
		display: flex;
		justify-content: center;
	}
	#joinVolunteerBox {
		margin-right: 5px;
	}
	#joinCharityBox {
		margin-left: 5px;
	}
	.joinBoxTitle {
		text-align: center;
		margin-top: 15px;
		font-size: 30px;
	}
	.joinBoxMainText {
		margin-left: 20px;
		margin-right: 20px;
		margin-top: 30px;
		text-align: center;
		font-size: 23px;
	}
	.joinButton {
		position: absolute;
		width: 300px;
		height: 45px;
		background-color: #f85120;
		border: none;
		top: 440px;

		margin-left: 100px;
		border-radius: 50px;
		cursor: pointer;
		display: flex;
		align-items: center;
	}
	.icon {
		width: 30px;
		height: 30px;
	}
	#whiteArrowLeft {
		position: absolute;
		left: 235px;
		visibility: visible;
	}
	#whiteArrowRight {
		position: absolute;
		left: 215px;
		visibility: visible;
	}
	.buttontext {
		position: absolute;
		left: 30px;
		visibility: visible;
	}
	#JoinButtonRight {
		width: 280px;
		margin-left: 110px;
	}
	.buttontextmobile {
		visibility: hidden;
	}
}
