<div><!--[if mso]>
  <v:roundrect xmlns:v="urn:schemas-microsoft-com:vml" xmlns:w="urn:schemas-microsoft-com:office:word" href="{{link}}" style="height:40px;v-text-anchor:middle;width:175px;" arcsize="150%" stroke="f" fillcolor="#f85120">
    <w:anchorlock/>
    <center>
  <![endif]-->
      <a href="{{link}}"style="background-color:#f85120;border-radius:60px;color:#ffffff;display:inline-block;font-family:sans-serif;font-size:13px;font-weight:bold;line-height:40px;text-align:center;text-decoration:none;width:175px;-webkit-text-size-adjust:none;">Verify your Account</a>
  <!--[if mso]>
    </center>
  </v:roundrect>
<![endif]--></div>